body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, #FF4F4F, #4F7AFF);
    background-color: #2d6187;
    color: #fff;
    padding: 20px;

}
.logo-container img {
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin-right: 20px;

}

.custom-font {
    font-family: Arial, sans-serif;
    /* Cambia la fuente del texto a Arial */
}
.sliderbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
}

.sliderbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sliderbar li {
    display: inline-block;
    margin: 0 10px;
}

.sliderbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;
}

.sliderbar a:hover {
    color: #FFDB58;
}
.carousel-inner .item img {
    max-height: 450px; /* Ajusta la altura máxima deseada */
    min-height: 450px;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
.window {
    width: 200px;
    height: 150px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
}

h1, p {
    margin: 0;
    padding: 0;
}
footer {
    background-color: #693c2d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}