<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/st_empleados.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">       
    </head>
    <body>
        <header>
            <nav class="sliderbar">
                <div class="logo-container">
                    <img src="/imgs/logo0.png" alt="ME_FRIAS_LOGO">
                </div>
                <ul>                    
                    <li><a th:href="@{/home}">Inicio</a></li>
                    <li><a th:href="@{/clientes}">Clientes</a></li>
                    <li><a th:href="@{/empleados}">Empleados</a></li>
                    <li><a th:href="@{/vehiculos}">Vehiculos</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
        <section class="contenido text-center">
            <h1 th:text="${saludo}"></h1>
            <a th:href="@{/empleados/nuevo}"><p>¡Click aqui para añadir nuevos empleados!</p></a>
        </section>
        <div class="container text-center">
            <div>
                <h1>
                    LISTADO DE EMPLEADOS
                </h1>
                <br>
                <div>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>PERS-ID</th>
                                <th>EMPL-ID</th>                                
                                <th>TIESP-ID</th>
                                <th>Nº IDENTIFICASION</th>   
                                <th>NOMBRE</th>
                                <th>APELLIDO</th> 
                                <th>ESPECIALIDAD</th>                          
                                <th>OPCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="empleado : ${lista_empleados}">
                                <td th:text="${empleado.persona.pers_id}"></td>
                                <td th:text="${empleado.empl_id}"></td>
                                <td th:text="${empleado.maes_tiesp.maes_id}"></td>
                                <td th:text="${empleado.persona.pers_identificacion}"></td>
                                <td th:text="${empleado.persona.pers_nombre}"></td>
                                <td th:text="${empleado.persona.pers_apellido}"></td>
                                <td th:text="${empleado.maes_tiesp.maes_nombrelargo}"></td>

                                <td>
                                    <a th:href="@{'/empleados/editar' + '/' + ${empleado.empl_id}}" class='btn btn-info'>EDITAR</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a th:href="@{'/empleados/eliminar' + '/' + ${empleado.empl_id}}" class='btn btn-danger' onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')">KILLER</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
