<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <title th:text="${title}"></title>
        <meta charset="UTF-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="backbox">
                <div class="loginMsg">
                    <div class="textcontent">
                        <p class="title">Aun no tienes una Cuenta?..</p>
                        <p>Crea una cuenta con nosotros</p>
                        <button id="switch1">Sign Up</button>
                    </div>
                </div>
                <div class="signupMsg visibility">
                    <div class="textcontent">
                        <p class="title">Tienes una cuenta con nosotros?...</p>
                        <p>Inicia Seccion aqui!... </p>
                        <button id="switch2">LOG IN</button>
                    </div>
                </div>
            </div>
            <!-- backbox -->

            <div class="frontbox">
                <div class="login">
                    <!-- <img href="www.google.com" class="logo_frias" src="/imgs/2.png" alt="logo electrofrias" width="200" height="200"/> -->
                    <div class="logo-container">
                        <img src="/imgs/logo0.png" alt="ME_FRIAS_LOGO" >
                    </div>
                    <h1>Iniciar sesión</h1>
                    <form th:action="@{/login}" method="post">
                        <label for="username" th:text="${inse}"></label>
                        <input type="text" id="username" name="username" placeholder="Ingresa tu nombre de usuario" required>
                        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

                        <button  type="submit">Iniciar</button>
                    </form>

                </div>

                <div class="signup hide">
                    <div class="logo-container">
                        <img src="/imgs/logo0.png" alt="ME_FRIAS_LOGO" width="50" height="50">
                        <h2>Registrandose</h2>
                    </div>
                    
                    <form action="" method="post">
                        <label for="username" th:text="${inse}"></label>
                        <input type="text" id="username" name="username" placeholder="Nombres" required>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellidos" required >
                        <input type="text" id="N° Identificasion" name="identificacion" placeholder="Nª Identificasion" required>
                        <input type="text" id="apellido" name="contrasena" placeholder="Contraseña" required>

                        <button  type="submit">Registrar</button>
                    </form>
                </div>

            </div>
            <!-- frontbox -->
        </div>


        <script src="/script/sc_index.js"></script>


    </body>        
</html>
