<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/st_main_head_foter.css">
        <link rel="stylesheet" type="text/css" href="/css/st_temp.css">
        <link rel="stylesheet" type="text/css" href="/css/st_regclientes.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="sliderbar">
                <div class="logo-container">
                    <img src="/imgs/logo0.png" alt="ME_FRIAS_LOGO">
                </div>
                <ul>                    
                    <li><a th:href="@{/home}">Inicio</a></li>
                    <li><a th:href="@{/clientes}">Clientes</a></li>
                    <li><a th:href="@{/empleados}">Empleados</a></li>
                    <li><a th:href="@{/vehiculos}">Vehiculos</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                </ul>
            </nav>
        </header>


        <div class="testbox">
            <section class="title_uid">
                <h3 th:if="${clie_id == null}">REGISTRAR NUEVO CLIENTE</h3>
                <h3 th:unless="${clie_id == null}">ACTUALIZANDO AL CLIENTE : <h2>&nbsp;
                        <span>COD:</span>
                        &nbsp;
                        <span th:text="${cliente.persona.pers_identificacion}"></span>
                        &nbsp;
                        <span th:text="${cliente.persona.pers_nombre}"></span>
                        &nbsp;
                        <span th:text="${cliente.persona.pers_apellido}"></span></h2>
                </h3>
            </section>

            <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
                <input type="hidden" th:field="*{clie_id}" th:value="cliente.clie_id">
                <div th:if="${clie_id == null}">
                    <input  name="tipo_estado"  type="hidden" th:value="17">
                </div>
                <div  th:unless="${clie_id == null}">



                    <label id="icon" for="name"><i class="icon-shield "></i></label>

                    <select id="categoria" name="tipo_estado">
                        <option value="">Seleccione el Estado</option>
                        <option th:each="maestra : ${maestraTEstado}"
                                th:text="${maestra.maes_nombrelargo}"
                                th:value="${maestra.maes_id}"
                                th:selected="${maestra.maes_id == cliente.persona.maes_ties.maes_id}"></option>
                    </select>

                </div>
                <hr>

                <div>
                    <label id="icon" for="name"><i class="icon-envelope "></i></label>
                    <input type="text" th:field="*{persona.pers_nombre}" name="name" id="name" placeholder="Nombres" required/>
                    <label id="icon" for="name"><i class="icon-user"></i></label>
                    <input type="text" th:field="*{persona.pers_apellido}" name="name" id="name" placeholder="Apellidos" required/>
                    <label id="icon" for="name"><i class="icon-shield"></i></label>
                    <input type="date" th:field="*{persona.pers_fechanacimiento}" name="name" id="name" min="1970-01-01" max="2030-01-01" placeholder="Fecha Nacimiento" required >

                </div>
                <div class="form_direccion">
                    <label id="icon" for="name"><i class="icon-envelope "></i></label>
                    <input type="text" th:field="*{persona.pers_direccion}" name="name" id="name" placeholder="Direccion, Barrio, Ciudad" required/>


                </div>

                <div class="tipos_mide">

                    <label id="icon" for="name"><i class="icon-shield "></i></label>
                    <select id="categoria" name="tipo_identificacion" >
                        <option value="">Tipo de Identificasion</option>
                        <th:block th:each="maestra : ${maestraTIdentificacion}">
                            <option th:if="${clie_id == null}" th:text="${maestra.maes_nombrelargo}"  th:value="${maestra.maes_id}" ></option>
                            <option th:unless="${clie_id == null}" th:text="${maestra.maes_nombrelargo}"  th:value="${maestra.maes_id}" th:selected="${maestra.maes_id == cliente.persona.maes_tiid.maes_id}"></option>

                        </th:block>
                    </select> 

                    <label id="icon" for="name"><i class="icon-shield "></i></label>
                    <select id="categoria" name="tipo_sexo" >
                        <option value="">Seleccione su Sexo</option>
                        <th:block th:each="maestra : ${maestraTSexo}">                            
                            <option th:if="${clie_id == null}" th:text="${maestra.maes_nombrelargo}" th:value="${maestra.maes_id}" ></option>
                            <option th:unless="${clie_id == null}" th:text="${maestra.maes_nombrelargo}" th:value="${maestra.maes_id}" th:selected="${maestra.maes_id == cliente.persona.maes_tise.maes_id}"></option>
                        </th:block>

                    </select> 
                    <label id="icon" for="name"><i class="icon-shield "></i></label>
                    <select id="categoria" name="tipo_rol">
                        <option value="">Seleccione Rol</option>
                        <option th:if="${clie_id == null}" th:text="CLIENTE" th:value="5"></option>
                        <th:block th:unless="${clie_id == null}" th:each="maestra : ${maestraTRol}">
                            <option th:text="${maestra.maes_nombrelargo}"
                                    th:value="${maestra.maes_id}"
                                    th:selected="${maestra.maes_id == cliente.persona.maes_tirol.maes_id}"></option>
                        </th:block>
                    </select>
                </div>
                <div>

                    <label id="icon" for="name"><i class="icon-envelope "></i></label>
                    <input type="text" th:field="*{persona.pers_identificacion}" name="name" id="name" placeholder="N° Identificasion" required/>
                    <label id="icon" for="name"><i class="icon-user"></i></label>
                    <input type="text" th:field="*{persona.pers_email}" name="name" id="name" placeholder="Email" required/>

                    <label id="icon" for="name"><i class="icon-shield"></i></label>

                    <input th:if="${clie_id == null}" type="password" th:field="*{persona.pers_contrasena}" name="name" id="name" placeholder="Contraseña" required/>                    
                    <input th:unless="${clie_id == null}" type="password" th:field="*{persona.pers_contrasena}" name="name" id="name" placeholder="Contraseña" required/>                    

                </div>

                <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
                <a type="submit"><button>Registrar</button></a>


            </form>
        </div>

    </div>
    <footer>
        <div class="container-footer w-container">
            <div class="w-row">
                <div class="footer-column w-clearfix w-col w-col-4">
                    <img src="/imgs/logo0.png" alt="" width="40" class="failory-logo-image">
                    <h3 class="footer-failory-name">ME-FRIAS</h3>
                    <p class="footer-description-failory">
                        En MEFRIAS estamos comprometidos en brindarle
                        la mejor atencion a nuestros clientes y el mejor servicio de mantenimiento 
                        electromecanico a sus vehiculos <br></p>
                </div>
                <div class="footer-column w-col w-col-8">
                    <div class="w-row">
                        <div class="w-col w-col-8">
                            <div class="w-row">
                                <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                                    <h3 class="footer-titles">Learn</h3>
                                    <p class="footer-links">
                                        <a href="" target="_blank">
                                            <span class="footer-link">Failed Startups<br>
                                            </span>
                                        </a>
                                        <a href="">
                                            <span class="footer-link">Successful Startups<br></span>
                                        </a>
                                        <a href="">
                                            <span class="footer-link">Blog</span>
                                        </a><span><br></span>
                                        <a href="">
                                            <span class="footer-link">Entrepreneurial Tools<br></span>
                                        </a>
                                        <a href="">
                                            <span class="footer-link">Startup Cemetery<br></span>
                                        </a>
                                        <a href="">
                                            <span class="footer-link">Podcast</span></a>
                                        <strong><br></strong>
                                    </p>
                                </div>
                                <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                                    <h3 class="footer-titles">Other</h3>
                                    <p class="footer-links">
                                        <a href="">
                                            <span class="footer-link">Sponsor Us!<br></span>
                                        </a>
                                        <a href="">
                                            <span class="footer-link">Open Startup<br></span>
                                        </a>
                                        <a href=""><span class="footer-link"></span></a>
                                        <a href="">
                                            <span class="footer-link">Contribute<br></span></a>
                                        <a href="">
                                            <span class="footer-link">FAQ</span></a>
                                        <strong><br></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column-center-mobile w-col w-col-4">
                            <h3 class="footer-titles">Siguenos en las Redes Sociales!</h3>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon"></a>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram Icon"></a>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon"></a>
                            <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon"></a>
                            <p class="footer-description">Email <a href=""><strong class="link-email-footer">MEFRIAS@MEFRIAS.ORG</strong></a><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
