<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/st_main_head_foter.css">
        <link rel="stylesheet" type="text/css" href="/css/st_temp.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="sliderbar">
                <div class="logo-container">
                    <img src="/imgs/logo0.png" alt="ME_FRIAS_LOGO">
                </div>
                <ul>                    
                    <li><a th:href="@{/home}">Inicio</a></li>
                    <li><a th:href="@{/clientes}">Clientes</a></li>
                    <li><a th:href="@{/empleados}">Empleados</a></li>
                    <li><a th:href="@{/vehiculos}">Vehiculos</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                </ul>
            </nav>
        </header>


        <div class="testbox">
            <h1>Registration</h1>

            <form action="/">
                <hr>
                <div class="accounttype">
                    <input type="radio" value="None" id="radioOne" name="account" checked/>
                    <label for="radioOne" class="radio" chec>Personal</label>
                    <input type="radio" value="None" id="radioTwo" name="account" />
                    <label for="radioTwo" class="radio">Company</label>
                </div>
                <hr>
                <label id="icon" for="name"><i class="icon-envelope "></i></label>
                <input type="text" name="name" id="name" placeholder="Email" required/>
                <label id="icon" for="name"><i class="icon-user"></i></label>
                <input type="text" name="name" id="name" placeholder="Name" required/>
                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name" placeholder="Password" required/>
                
                
                <label id="icon" for="name"><i class=""></i></label>
                <input type="password" name="name" id="name" placeholder="Password" required/>
                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name" placeholder="Password" required/>
                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name" placeholder="Password" required/>
                <label id="icon" for="name"><i class="icon-shield"></i></label>
                <input type="password" name="name" id="name" placeholder="Password" required/>
                
                
                
                
                
                
                
                
                
                <div class="gender">
                    <input type="radio" value="None" id="male" name="gender" checked/>
                    <label for="male" class="radio" chec>Male</label>
                    <input type="radio" value="None" id="female" name="gender" />
                    <label for="female" class="radio">Female</label>
                </div> 
                <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
                <a href="#" class="button">Register</a>
                
               
            </form>
        </div>

        <footer>
            <div class="container-footer w-container">
                <div class="w-row">
                    <div class="footer-column w-clearfix w-col w-col-4">
                        <img src="/imgs/logo0.png" alt="" width="40" class="failory-logo-image">
                        <h3 class="footer-failory-name">ME-FRIAS</h3>
                        <p class="footer-description-failory">
                            En MEFRIAS estamos comprometidos en brindarle
                            la mejor atencion a nuestros clientes y el mejor servicio de mantenimiento 
                            electromecanico a sus vehiculos <br></p>
                    </div>
                    <div class="footer-column w-col w-col-8">
                        <div class="w-row">
                            <div class="w-col w-col-8">
                                <div class="w-row">
                                    <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                                        <h3 class="footer-titles">Learn</h3>
                                        <p class="footer-links">
                                            <a href="" target="_blank">
                                                <span class="footer-link">Failed Startups<br>
                                                </span>
                                            </a>
                                            <a href="">
                                                <span class="footer-link">Successful Startups<br></span>
                                            </a>
                                            <a href="">
                                                <span class="footer-link">Blog</span>
                                            </a><span><br></span>
                                            <a href="">
                                                <span class="footer-link">Entrepreneurial Tools<br></span>
                                            </a>
                                            <a href="">
                                                <span class="footer-link">Startup Cemetery<br></span>
                                            </a>
                                            <a href="">
                                                <span class="footer-link">Podcast</span></a>
                                            <strong><br></strong>
                                        </p>
                                    </div>
                                    <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                                        <h3 class="footer-titles">Other</h3>
                                        <p class="footer-links">
                                            <a href="">
                                                <span class="footer-link">Sponsor Us!<br></span>
                                            </a>
                                            <a href="">
                                                <span class="footer-link">Open Startup<br></span>
                                            </a>
                                            <a href=""><span class="footer-link"></span></a>
                                            <a href="">
                                                <span class="footer-link">Contribute<br></span></a>
                                            <a href="">
                                                <span class="footer-link">FAQ</span></a>
                                            <strong><br></strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column-center-mobile w-col w-col-4">
                                <h3 class="footer-titles">Siguenos en las Redes Sociales!</h3>
                                <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon"></a>
                                <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram Icon"></a>
                                <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon"></a>
                                <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon"></a>
                                <p class="footer-description">Email <a href=""><strong class="link-email-footer">MEFRIAS@MEFRIAS.ORG</strong></a><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </body>
</html>
